<h2 class="header">Provices Management 
	<a class="waves-effect waves-light btn right " href="/admin/provices/new">Add Provice</a>
</h2>
<table class="striped hoverable">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Created_at</th>
		<th></th>
	</tr>
	<% @provices.each do |u| %>
		<tr>
			<td><%=u.id %></td>
			<td><%=u.name %></td>
			<td><%=u.created_at.strftime("%d - %m - %Y %H:%M:%S") %></td>
			<td>
				<a href='<%=edit_admin_provice_path(u) %>'  alt="Show Provice"><i class="material-icons">note_add</i></a>  
				<a data-confirm="Are you sure?"rel="nofollow" data-method="delete" href="<%=admin_provice_path(u)%>"><i class="material-icons">delete</i></a>
			</td>
		</tr>
	<%end%>
</table>
<hr style="margin-top:30px;" />
<%= paginate @provices %>