<h2 class="header">Places Management
<a class="waves-effect waves-light btn right " target="_parent" href="/admin/places/new">New Places</a>
</h2>

<table class="striped hoverable">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Address</th>
		<th>Type</th>
		<th></th>
	</tr>
	<%@places.each do |p| %>
		<tr>
			<td><%=p.id%></td>
			<td><%=p.name%></td>
			<td><%=p.address%></td>
			<td>
				<% type = Type.find(p.type_id) %>
				<%=type.typename%>
			</td>
			<td>
				<a href='<%=admin_place_path(p) %>' alt="Show details"><i class="material-icons">input</i></a> 
				<a href='<%=edit_admin_place_path(p) %>'  alt="Edit Place"><i class="material-icons">note_add</i></a>  
				<a data-confirm="Are you sure?"rel="nofollow" data-method="delete" href="<%=admin_place_path(p)%>"><i class="material-icons">delete</i></a>
			</td>
		</tr>
	<%end%>
</table>
<div style="border-bottom:#ccc solid 2px; margin:20px 0;"></div>
<%= paginate @places %>