<!-- slide -->
<div class="slider">
    <ul class="slides">
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/1">--> <!-- random image -->
        <%=image_tag('1.jpg')%>
        <div class="caption center-align">
          <h3>Cánh đồng</h3>
          <h5 class="light grey-text text-lighten-3">Phong cảnh cánh đồng sau mùa gặt.</h5>
        </div>
      </li>
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/2"> --> <!-- random image -->
        <%=image_tag('2.jpg')%>
        <div class="caption right-align">
          <h3>Phá Tam Giang - Huế</h3>
          <h5 class="light grey-text text-lighten-3">Phong cảnh Phá Tam Giang.</h5>
        </div>
      </li>
      <li>
        <%=image_tag('3.jpg')%>
        <div class="caption left-align">
          <h3>Đầm Sam - Huế</h3>
          <h5 class="light grey-text text-lighten-3">Bình minh cháy ra lửa ở Đầm Sam.</h5>
        </div>
      </li>
      <li>
        <%=image_tag('4.jpg')%>
        <div class="caption center-align">
          <h3>Con đường mùa thu</h3>
          <h5 class="light grey-text text-lighten-3">Con đường mùa thu đầy lá vàng rơi.</h5>
        </div>
      </li>
    </ul>
    <div class="input-search">
        <h4>Nhập vị trí bạn muốn tới :</h4>

       <form action="/welcome/search" method="get">
        
            <h6><span>Hiển thị theo : </span>
                <p>
                    <input name="type" type="radio" id="search1" value="1" />
                    <label for="search1">Khách sạn</label>
                </p>
                <p>
                    <input name="type" type="radio" id="search2" value="2" />
                    <label for="search2">Điểm đến</label>
                </p>
                <p>
                    <input name="type" type="radio" id="search3" value = "3" />
                    <label for="search3">Nơi ăn uống</label>
                </p>
                <p>
                    <input name="type" type="radio" id="search4" checked="true" value="all"/>
                    <label for="search4">Tất cả</label>
                </p>
            </h6>
            <div class="row">
              		<div class="input-field col s12 search-input">
              
	                <input id="searchname" type="text" name="searchname" required="true">
	                <input type="hidden" name="proviceid" id="proviceid" />
	                <label for="seachname" data-error="wrong">
	                    Nhập vào nơi đến
	                </label>
	                <div id="suggesstion-box"></div>
	              </div>
	              <button type="submit" class="waves-effect waves-light btn" style="bottom:-26px;margin-left:20px;">Tìm kiếm</button>
            </div>
        </form>
    </div>
  </div>
<!-- end slide -->
<!-- input seach -->

<div style="clear:both"></div>
<div class="welcome-index">
	<!-- top khach san-->
	<%@types.each do |t|%>
	<div class="row-hotel">
	<div class="title-m">
		<h3 class="left light">Top <%=t.typename%></h3>
		<div class="bg-stripe"></div>
	</div>
	<div class="row" style="float:left">
		<%@places.where(type_id: t.id).each do |p|%>
				
					<div class="col s12 m6 l3" >
						<div class="card">
						    <div class="card-image waves-efect waves-block waves-light">
						      <%=image_tag p.avatar, :class => 'activator', :style=>'width:292px; height:219px;' %>
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">
						      	<%=p.name%>
						      	<i class="material-icons right top-style">more_vert</i>
						      </span>
						      <p style="width:100%; height:30px;">
						      	<%star = Star.find(p.star_id)%>
								<%count = star.starcount%>
								<%i =1 %>
								<% for i in (i..count) %>
									<i class="material-icons" style="float:left; width:20px;color:red;">star_rate</i>
								<%end%>
								<p style="clear:both"></p>
						      </p>
						      <p class="add-s"><%=p.address%></p>
						      <p><a href="<%=place_path(p)%>">Xem chi tiết</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4">
						      	<%=p.name%>
						      	<i class="material-icons right">close</i>
						      </span>
						      <p>
						      	<%=p.description%>
						      </p>
						      <p><a href="<%=place_path(p)%>">Xem chi tiết</a></p>
						    </div>
						  </div>
					</div>
				
			
		<%end%>
		</div>
				<div style="clear:both"></div>
		</div>
	<%end%>
</div>


<script>
	// AJAX call for autocomplete 
$(document).ready(function(){
	$("#searchname").keyup(function(){
		var url = $(this);
		var link = $(url).val();
		$("#suggesstion-box").html("");
		$("#suggesstion-box").show();
		$.ajax({
		type: "GET",
		 dataType: "json",
		url: "/provices/load_provice",
		data:{q: link},
		success: function(data){
			//$("#suggesstion-box").show();
			//$("#search-box").css("background","#FFF");
			//console.log(data.length);
			for (var i = 0; i < data.length; i ++){ 
				$("#suggesstion-box").append("<p id='"+data[i].id+"' onclick='clickme(this.id)'>"+data[i].name+"</p>");
				
			}
			
		}
		});
	});
});
function clickme(id){
	var n = $("#"+id).text();
	$("#searchname").val(n);
	$("#proviceid").val(id);
	$("#suggesstion-box").hide();
}
</script>

<!-- js for paralax image-->

