<!-- slide -->
<div class="slider">
    <ul class="slides">
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/1">--> <!-- random image -->
        <%=image_tag('1.jpg')%>
        <div class="caption center-align">
          <h3>Cánh đồng</h3>
          <h5 class="light grey-text text-lighten-3">Phong cảnh cánh đồng sau mùa gặt.</h5>
        </div>
      </li>
      <li>
        <!--<img src="http://lorempixel.com/580/250/nature/2"> --> <!-- random image -->
        <%=image_tag('2.jpg')%>
        <div class="caption right-align">
          <h3>Phá Tam Giang - Huế</h3>
          <h5 class="light grey-text text-lighten-3">Phong cảnh Phá Tam Giang.</h5>
        </div>
      </li>
      <li>
        <%=image_tag('3.jpg')%>
        <div class="caption left-align">
          <h3>Đầm Sam - Huế</h3>
          <h5 class="light grey-text text-lighten-3">Bình minh cháy ra lửa ở Đầm Sam.</h5>
        </div>
      </li>
      <li>
        <%=image_tag('4.jpg')%>
        <div class="caption center-align">
          <h3>Đầm Lập An - Huế</h3>
          <h5 class="light grey-text text-lighten-3">Chạng vạng đầm Lập An.</h5>
        </div>
      </li>
    </ul>
    <div class="input-search">
        <h4>Nhập vị trí bạn muốn tới :</h4>

        <form action="#">
            <h6><span>Hiển thị theo : </span>
                <p>
                    <input name="group1" type="radio" id="search1" />
                    <label for="search1">Khách sạn</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="search2" />
                    <label for="search2">Điểm đến</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="search3" />
                    <label for="search3">Nơi ăn uống</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="search4" checked="true" />
                    <label for="search4">Tất cả</label>
                </p>
            </h6>
            <div class="row">
              		<div class="input-field col s12">
              
	                <input id="searchname" type="text" name="searchname">
	                <input type="hidden" name="proviceid" id="proviceid" />
	                <label for="seachname" data-error="wrong">
	                    Nhập vào nơi đến
	                </label>
	                <div id="suggesstion-box"></div>
	              </div>
	              <button class="waves-effect waves-light btn" style="bottom:-26px;margin-left:20px;">Tìm kiếm</button>
            </div>
        </form>
    </div>
  </div>
<!-- end slide -->
<!-- input seach -->

<div style="clear:both"></div>
<!-- top khach san-->
<div class="welcome-index">
<div class="row-hotel">
	
	<div class="title-m">
		<h3 class="left light">Top khách sạn</h3>
		<div class="bg-stripe"></div>
	</div>
	<div class="row" style="float:left">
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
	</div>
	<div style="clear:both"></div>
</div>



<!-- top dia diem -->
<div class="row-hotel">
	<div class="title-m">
		<h3 class="left light">Top điểm đến</h3>
		<div class="bg-stripe"></div>
	</div>
	<div class="row" style="float:left">
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
	</div>
	<div style="clear:both"></div>
</div>



<!-- top noi an uong-->
<div class="row-hotel">
	<div class="title-m">
		<h3 class="left light">Top nơi ăn uống</h3>
		<div class="bg-stripe"></div>
	</div>
	<div class="row" style="float:left;">
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
		<div class="col s12 m6 l3" >
			<div class="card">
			    <div class="card-image waves-efect waves-block waves-light">
			      
			      <%=image_tag('office.jpg', :class => 'activator') %>
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right top-style">more_vert</i></span>
			      <p><a href="#">This is a link</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div>
			  </div>
		</div>
	</div>
	<div style="clear:both"></div>
</div>

</div>

<script>
	// AJAX call for autocomplete 
$(document).ready(function(){
	$("#searchname").keyup(function(){
		var url = $(this);
		var link = $(url).val();
		$("#suggesstion-box").html("");
		$("#suggesstion-box").show();
		$.ajax({
		type: "GET",
		 dataType: "json",
		url: "/provices/load_provice",
		data:{q: link},
		success: function(data){
			//$("#suggesstion-box").show();
			//$("#search-box").css("background","#FFF");
			//console.log(data.length);
			for (var i = 0; i < data.length; i ++){ 
				$("#suggesstion-box").append("<p id='"+data[i].id+"' onclick='clickme(this.id)'>"+data[i].name+"</p>");
				
			}
			
		}
		});
	});
});
function clickme(id){
	var n = $("#"+id).text();
	$("#searchname").val(n);
	$("#proviceid").val(id);
	$("#suggesstion-box").hide();
}
</script>


