<h2 class="header">Users Management
<a class="waves-effect waves-light btn right " href="/admin/users/new">New User</a>
</h2>
<table class="striped hoverable">
	<tr>
		<th>ID</th>
		<th>Email</th>
		<th>Fullname</th>
		<th>Address</th>
		<th>Age</th>
		<th>Role</th>
		<th>Avatar</th>
		<th>Created_at</th>
		<th></th>
	</tr>
	<% @users.each do |u| %>
		<tr>
			<td><%=u.id %></td>
			<td><%=u.email %></td>
			<td><%=u.fullname %></td>
			<td><%=u.address %></td>
			<td><%=u.age %></td>
			<td><%=u.role %></td>
			<td><%=image_tag u.photo.url(:small) %></td>
			<td><%=u.created_at.strftime("%d - %m - %Y %H:%M:%S") %></td>
			<td>
				<a href='<%=edit_admin_user_path(u) %>'  alt="Edit User"><i class="material-icons">note_add</i></a>  
				<a data-confirm="Are you sure?"rel="nofollow" data-method="delete" href="<%=admin_user_path(u)%>"><i class="material-icons">delete</i></a>
			</td>
		</tr>
	<%end%>
</table>