<!DOCTYPE html>
<html>
<head>
  <title>FindPlace</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- nav menu -->

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%=image_tag('logo.png', :style => 'width:95px;')%></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">reorder</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
          
        
<!-- end nav menu -->



<!-- end input seach -->

	<%= yield %>

<script>
$(document).ready(function(){
      $('.slider').slider();
      $(".button-collapse").sideNav();
      $(".slider").attr("style", "height:590px");
      $(".slides").attr("style", "height:550px");
});
    
</script>
<!-- footer -->
<footer class="page-footer">
    
      <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Help Materialize Grow</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            

          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Join the Discussion</h5>
            <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
            
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect</h5>
            <div class="fb-page" data-href="https://www.facebook.com/copanyplace" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/copanyplace"><a href="https://www.facebook.com/copanyplace">Find Place</a></blockquote></div></div>
            </div>
          </div>
        
    </div>
    <div class="footer-copyright" style="padding:0 0.75rem">
      
        &copy; 2014 - 2015 FindPlace . All right reserved
        <a class="grey-text text-lighten-4 right" href="/welcome/index">FindPlace Company</a>
      
    </div>
</footer>
<!-- end footer -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
