<!DOCTYPE html>
<html>
<head>
  <title>Find Location</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<!-- nav menu -->

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%=image_tag('logo.png', :style => 'width:95px;')%></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">reorder</i></a>
      <ul class=" hide-on-med-and-down menu-p">
        <li class="sologan"><a style="font-style:italic; font-size:20px;" href="#">Tìm kiếm thông tin cho chuyến đi của bạn ...!</a></li>
        
      </ul>
      
      <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
              <li style=" padding-left:20px;">
                  Logged in as <strong><%= current_user.email %></strong>
                  <% if current_user.role == "admin" || current_user.role == "sale"%>

                  <%= link_to 'View admin', '/admin', :target => '_parent', :class => 'waves-effect waves-light' %> | 
                  <%end%>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'waves-effect waves-light' %>
              </li>
          <%else%>
              <li>
                  <a  data-target="modal1" class="modal-trigger waves-effect waves-light">Login</a> 
                  
              </li>
              <li><a  href="/users/sign_up" class="waves-effect waves-light">Signup</a></li>
              
          <%end%>
      </ul>
      

      
      <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
        <% if user_signed_in? %>
              <li>Logged in as <strong><%= current_user.email %></strong></li>
                  <% if current_user.role == "admin" || current_user.role == "sale"%>
                  <li><%= link_to 'View admin', '/admin', :target => '_parent', :class => 'waves-effect waves-light' %></li>
                  <%end%>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'waves-effect waves-light' %></li>
              </li>
          <%else%>
              <li>
                  <a style="padding:0" data-target="modal1" class="modal-trigger">Login</a>
                  
              </li>
              <li><a style="padding:0" href="/users/sign_up">Signup</a></li>
              
          <%end%>
      </ul>
    </div>
  </nav>
          
        
<!-- end nav menu -->
<!-- modal login -->
 <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="modal-content">
      <h4 style="border-bottom:#ccc solid 2px; padding-bottom:20px;">Login</h4>
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, class: "validate" %>
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
               <%= f.password_field :password, autocomplete: "off", class: "validate" %>
              <label for="password">Password</label>
            </div>
          </div>
          
     
    </div>
    <div class="modal-footer">
    <a style="margin-right:20px;" href="#!" class=" btn modal-action modal-close waves-effect waves-green">Cancel</a>
      <button style="margin-right:20px;" class="btn waves-effect waves-light" type="submit" name="action">Login
  </button>
      
    </div>
     <%end%>
  </div>
<!-- end modal login -->
<!-- end input seach -->

	<%= yield %>

<script>
$(document).ready(function(){
      $('.slider').slider();
      $(".button-collapse").sideNav();
      $(".slider").attr("style", "height:590px");
      $(".slides").attr("style", "height:550px");
      $('.modal-trigger').leanModal();
});
    
</script>
<!-- footer -->
<footer class="page-footer">
    
      <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Help Materialize Grow</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            

          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Join the Discussion</h5>
            <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
            
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect</h5>
            
            </div>
          </div>
        
    </div>
    <div class="footer-copyright" style="padding:0 0.75rem">
      
        &copy; 2014 - 2015 FindPlace . All right reserved
        <a class="grey-text text-lighten-4 right" href="/welcome/index">FindPlace Company</a>
      
    </div>
</footer>
<!-- end footer -->


<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- end -->
<script>
  jQuery(document).ready(function($){
  // browser window scroll (in pixels) after which the "back to top" link is shown
  var offset = 300,
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
    offset_opacity = 1200,
    //duration of the top scrolling animation (in ms)
    scroll_top_duration = 700,
    //grab the "back to top" link
    $back_to_top = $('.cd-top');

  //hide or show the "back to top" link
  $(window).scroll(function(){
    ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
    if( $(this).scrollTop() > offset_opacity ) { 
      $back_to_top.addClass('cd-fade-out');
    }
  });

  //smooth scroll to top
  $back_to_top.on('click', function(event){
    event.preventDefault();
    $('body,html').animate({
      scrollTop: 0 ,
      }, scroll_top_duration
    );
  });

});
</script>
</body>
</html>
